/*
 * File:  .gitignore
 * Created Date: 29/10/2025 07:52:36
 * Author: Lucas de Jesus  (lucasdejesusphysic@gmail.com)
 * -----
 * Last Modified: 25/05/2026 02:17:54
 * Modified By: Lucas de Jesus 
 * -----
 * Copyright (c) 2026
 * 
 * This file is subject to the terms and conditions defined in
 * the 'LICENSE.txt' file found in the root of this source tree.
 * Please read LICENSE.txt for full copyright and licensing details.
 * -----
 * HISTORY:
 * Date      	By	Comments
 * ----------	---	----------------------------------------------------------
 */






__pycache__/
*.csv
*.png
.vscode/
